.social {
    width: 100%;
}

.social__list {
    display: flex;
    justify-content: space-between;
}

.social__item {

    & svg {
        border-radius: 5px;
    }
}

@media (hover: hover) {
    .social__item {
        &:hover {
            & svg path {
                fill: $default-color;
                transition: all 0.25s;
            }
        }
    }
}